.button{
    background-color: rgb(2, 236, 33);
    font-size: 20px;
    margin: 14px 2px ;
    cursor: pointer;
}


#button1{
    background-color: rgb(2, 236, 33);
    font-size: 20px;
    margin: 14px 2px ;
    cursor: pointer;
}

#button2{
    background-color: rgb(2, 236, 33);
    font-size: 20px;
    margin: 14px 2px ;
    cursor:pointer;
}